* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 80%;
  height: 550px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
}
.box img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 120px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: 1s;
}
.box img:hover {
  transform: translate(-50%, -50%) scale(2) rotate(2turn);
}
.inner-box {
  width: 300px;
  height: 200px;
  background-color: rgba(207, 65, 65, 0.566);
  /* transition-property: width;
  transition-duration: 3s;
  transition-delay: 500ms;
  transition-timing-function: linear; */
  transition: all 3s cubic-bezier(0.7, 1.42, 0, -0.93);
}
.inner-box:hover {
  width: 100%;
}
