.top {
  height: 40px;
  background-color: red;
}
header {
  height: 80px;
  width: 100%;
  background-color: olive;
  position: sticky;
  top: 0;
  z-index: 999;
}
body {
  height: 200vh;
}
#boxes {
  margin: 0 auto;
  width: 90%;
}
.big-box {
  position: absolute;
  right: calc(50% - 250px);
  top: calc(50% - 200px);
  width: 500px;
  height: 400px;
  background-color: rgb(238, 58, 58);
  margin: 0px auto;
}
.big-box .medium-box {
  width: 300px;
  height: 200px;
  background-color: skyblue;
  position: absolute;
  top: -50px;
  left: -50px;
}
.big-box .medium-box .small-box {
  width: 100px;
  height: 50px;
  background-color: rgb(225, 34, 213);
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 50px);
}
.orange-box {
  width: 400px;
  height: 240px;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.green-box {
  width: 250px;
  height: 150px;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: -1;
}
.blue-box {
  width: 200px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
}
.up-arrow {
  position: fixed;
  right: 2%;
  bottom: 3%;
  padding: 16px;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.582);
}
.up-arrow:hover {
  background-color: rgba(211, 211, 211, 0.885);
}
.up-arrow i {
  font-size: 16px;
  color: black;
  cursor: pointer;
}
/* static, absolute, relative, fixed, sticky */
/* z-index */

.container {
  width: 90%;
  margin: 0 auto;
}

#contact-us {
  margin-top: 140px;
}
#contact-us .map-wrapper iframe {
  width: 100%;
}
.map-wrapper {
  position: relative;
}
#contact-us #contact-form {
  position: absolute;
  top: -50px;
  left: calc(50% - 20%);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 44px 22px;
  border-radius: 10px;
  width: 40%;
}
#contact-form input {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
}
#contact-form button {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 6px;
  padding: 12px 8px;
  width: 40%;
  border: none;
  background-color: cadetblue;
  color: white;
}
